<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"></link>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
    .center {
        margin: auto;
        width: 500px;
    }

    .team-1{
        background-color: #99c9ff
    }
    
    .team-2{
        background-color: #ffad99
    }
    
    .team-3{
        background-color: #ffffcc
    }
    
    .gymPokemon{
        display:block;
        float:left;
        padding-right:20px;
    }
    
    .gymPokemonImg{
        margin-left: 20px;
        margin-right: auto;
        margin-top:auto;
        float:right;
        height:80px;
        width:80px;
    }
    
    .gymPokemonWeakness{
        display: line;
        margin-left: auto;
        margin-right: auto;
        height:15px;
        width:15px;
    }
    
    .gymPokemonText{
        font-size:10pt;
        float:left;
        display:block;
    }

</style>

<table id="gyms" class="table table-condensed" style="border-collapse:collapse;"><thead><tr><th>Gym Name</th><th>Points</th><th>Head Trainer</th></tr></thead>
{{#each fortInfo}}
    {{#if gym.gym_state}}     
        <tr id="gymRow" class="team-{{gym.gym_state.fort_data.owned_by_team}} accordion-toggle" data-toggle="collapse" data-target="#collapseme{{@index}}">
            <td>{{gym.name}}{{#if gym.gym_state.fort_data.is_in_battle}} [IN BATTLE]{{/if}}</td>
            <td>{{gym.gym_state.fort_data.gym_points.low}}</td>
            <td>{{getHighestTrainer gym.gym_state.memberships}}</td>
        </tr>
        <tr id="collapseme{{@index}}" class="collapse out">
            <td colspan="3">
                {{#each gym.gym_state.memberships}}
                    <div class="gymPokemon">
                        <div class="gymPokemonText">
                            Name: {{getPokemonInfo this.pokemon_data.pokemon_id "name"}}<br />
                            Trainer: {{this.trainer_public_profile.name}} ({{this.trainer_public_profile.level}})<br />
                            CP: {{this.pokemon_data.cp}}<br />
                            HP: {{this.pokemon_data.stamina}}/{{this.pokemon_data.stamina_max}}<br />
                            IV: {{calcIV this.pokemon_data.individual_attack this.pokemon_data.individual_defense this.pokemon_data.individual_stamina}}%<br />
                            Weakness: 
                            {{#each (getPokemonInfo this.pokemon_data.pokemon_id "weaknesses")}}
                                <img class="gymPokemonWeakness" src="img/types/{{this}}.png">
                            {{/each}}
                        </div>
                        <img class="gymPokemonImg" src="/img/pokemon/{{getPokemonInfo this.pokemon_data.pokemon_id 'num'}}.png">
                    </div>
                {{/each}}
            </td>
        </tr>
    {{/if}}
{{/each}}
</table>
<table id="pokestops" class="table" style="border-collapse:collapse;"><thead><tr><th>Stop Name</th><th>Lure Status</th></tr></thead>
{{#each fortInfo}}
    {{#if pokestop.name}}
        {{#if pokestop.modifiers.0.item_id}}
            <tr>
                <td>{{pokestop.name}}</td>
                <td>Lured By {{pokestop.modifiers.0.deployer_player_codename}} for {{epochTimeConverter pokestop.modifiers.0.expiration_timestamp_ms}} minutes</td>
            </tr>
        {{else}}
            <tr>
                <td>{{pokestop.name}}</td>
                <td>No Active Lure</td>
            </tr>
        {{/if}}
    {{/if}}
{{/each}}
</table>

<div class="center">Updated At: {{updatedTime.updated}}</div>

<script type="text/javascript">
    
    // A $( document ).ready() block.
    $( document ).ready(function() {
        $("#gymRow").click(function() {
            if($("#collapseme").hasClass("out")) {
                $("#collapseme").addClass("in");
                $("#collapseme").removeClass("out");
            } else {
                $("#collapseme").addClass("out");
                $("#collapseme").removeClass("in");
            }
        });
        $('#pokestops').DataTable({
            paging: false,
            ordering: true,
            search: {
                "search": "Lured By"
            }
        });
    });
    
</script>
